/*

font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

*/

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    overflow-x: hidden;
}

.container {
    display: block;
    max-width: 1180px;
    margin-inline: auto;
}

ul, li, a {
    list-style-type: none;
    text-decoration: none;
}

/* ! Header Section */

.hero_expanded {
    background: url("image/hero.jpg") no-repeat top / cover;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    padding-bottom: 30px;
}

.header_container {
    padding-top: 20px;
    padding-bottom: 0.1px;
}

.logo_nav, .logo_nav img {
    max-width: 246px;
    max-height: 80px;
    display: block;
    margin-inline: auto;
}

.header_container nav ul {
    display: flex;
    justify-content: center;
    gap: 80px;    
    flex-wrap: wrap;
}

.header_container nav ul li a {
    color: #fff;
    text-transform: uppercase;
}

.header_container:hover {
    background-color: rgba(217, 217, 217, .6);
    transition: 500ms ease-out;
}

.header_container:hover > .header_container nav ul li a {
    color: #000;
    transition: 500ms ease;
}

.header_container nav ul li a:hover {
    color: rgb(45, 45, 45);
    text-decoration: underline;
    transition: 500ms ease;
}

/* Hero Section */

.hero_module .container h1 {
    color: #fff;
    font-weight: 700;
    font-size: 4rem;
    white-space: pre-line;
}

.hero_module .container h1 span {
    color: #FF9900;
}

#hero_slogan {
    padding-block: 50px;
}

#hero_slogan a {
    font-size: 1.8rem;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    line-height: 60px;
    background-color: #FF9900;
    border-radius: 25px;
    display: block;
    max-width: 200px;
    text-align: center;
    font-weight: 400;
}

#hero_slogan a:hover {
    background-color: #fff;
    color: #FF9900;
    transition: 500ms ease;
}

/* ! For Main */

main {
    font-family: 'Roboto Condensed', sans-serif;
}

/* About Section */

.about_module {
    position: relative;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;
    z-index: 9;
}

.about_module .container h1 {
    font-size: 3.75rem;
    font-weight: 400;
}

.about_module .container p {
    white-space: pre-line;
    max-width: 100ch;
    margin-inline: auto;
    line-height: 30px;
}

/* Flexbox & Default Configs for Bontrager and Polar Sections */
.image_column {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.spacer {
    font-size: 1.125rem;
    color: #000;
}

.image_column .image_width {
    font-size: 0.875rem;
    color: #686868;
}

.image_column .image_width span {
    height: 10px;
    display: block;
}


/* Bontrager Section */

.bontrager_module {
    background-color: #D9D9D9;
    padding-top: 50px;
    padding-bottom: 100px;
}

.bontrager_module .container .bontrager_logo {
    max-width: 382px;
    max-height: 100px;
}

.bontrager_module .image_column .image_width {
    max-width: 300px;
}

.bontrager_module .image_column .image_width .img_a {
    max-height: 225px;
    display: block;
}

.bontrager_module .image_column .image_width .img_a img {
    max-width: 300px;
    max-height: 225px;
    display: block;
}

/* Polar Section */

.polar_module {
    padding-block: 50px;
    padding-bottom: 100px;
}

.polar_module .polar_logo {
    max-width: 260px;
    max-height: 100%
}

.polar_module .image_column .image_width {
    max-width: 300px;
}

.polar_module .image_column .image_width img_a {
    max-height: 300px;
    display: block;
}

.polar_module .image_column .image_width .img_a img {
    max-width: 300px;
    max-height: 300px;
    display: block;
}


/* Contact Section */

.contact_expanded {
    background: url("image/contact_image.jpg") no-repeat top / cover;
    padding-block: 30px;
    color: #fff;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
}

.contact_module .contact_expanded .container h1 {
    font-size: 3.75rem;
    font-weight: 400;
    text-align: center;
}

.contact_module .contact_expanded .container p {
    white-space: pre-line;
    padding-right: 40px;
}

.middle {
    display: flex;
    justify-content: center;
}

.input_module {
    display: grid;
    gap: 20px;
    width: 480px;
}

.input {
    border: 0;
    border-radius: 10px;
    padding-inline: 10px;
    height: 50px;
}

.message {
    padding-bottom: 150px;
}

.middle .input_module .button {
    width: 160px;
    border: 0;
    font-size: 1.125rem;
    line-height: 40px;
    border-radius: 20px;
    position: relative;
    margin-left: auto;
    background-color: #12A721;
    color: #fff;
    cursor: pointer;
}

.middle .input_module .button:hover {
    color: #12A721;
    background-color: #fff;
    transition: 500ms ease-in-out;
}

/* Footer Section */

footer {
    background-color: #828282;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 1px;
}

footer .logo_footer, footer .logo_footer img {
    max-width: 180px;
    height: 80px;
    display: block;
}

footer h1{
    font-size: 1.125rem;
    font-weight: 400;
}

footer h2 {
    font-size: 1.25rem;
}

footer .text_module {
    display: flex;
    justify-content: center;
    gap: 100px;
}

footer .text_module .connect_module .icons {
    display: flex;
    gap: 20px;
}

footer .text_module .connect_module a span {
    font-size: 30px;
    color: #fff;
}

footer .text_module .connect_module a span:hover {
    color: rgb(49, 49, 49);
    transition: 500ms ease;
}

footer .text_module .connect_module a {
    max-width: 30px;
    max-height: 30px;
    display: block;
}

footer .address_module p {
    white-space: pre-line;
}

footer .contact_module ul {
    padding-left: 0;
}

footer .contact_module ul li h2 span {
    font-size: 25px;
    padding-right: 10px;
}

footer .copyright {
    text-align: center;
}